*{
  /*font-family: 'Gudea', Helvetica, sans-serif !important;*/
  font-family: Arial, sans-serif;
}

.headerbar {
  background: none;
  background-color: #FFF;
  color: #000;
  text-shadow: none;
}

.ui-page {
  background-color: #fff;
  background-size: 619px 645px;
  background-repeat: no-repeat;
  background-position: bottom right;
/*  -webkit-backface-visibility: hidden; */ /* without this, Android pages may flicker after slide transitions */
}

.ui-bar-c {
  text-shadow: #000 0 1px 1px;
}

.ui-body-c {
  text-shadow: none;
  font-weight: normal;
}

.ui-body-c, .ui-overlay-c {
  background: none;
}

.ui-header {
  color: #fff;
  border-color: transparent;
}

input::-webkit-input-placeholder {
  color: #bbb;
}

.ui-content .ui-listview-inset {
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
  background-color: #000;
}

.ui-grid-a > div {
  -webkit-transform: translateZ(0);
}

.has-count {
  padding-left: 26px;
}

.ui-li-count {
  background: -moz-linear-gradient(center top , #DE939E, #A40717) repeat scroll 0 0 padding-box transparent;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, #A40717),
    color-stop(0.57, #A40717),
  	color-stop(0.79, #DE939E)
  );
  border-radius: 14px;
  border: 2px solid white;
  color: #FFFFFF;
  padding: 2px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  font: 12px Arial;
  font-weight: normal !important;
  position: relative;
  float: right;
  top: 10%;
  right: 10%;
  z-index: 9999;
}

.ui-li-count-green {
  background: -moz-linear-gradient(center top , lightgreen, darkgreen) repeat scroll 0 0 padding-box transparent;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, darkgreen),
    color-stop(0.57, darkgreen),
  	color-stop(0.79, lightgreen)
  );
}

.ui-li-has-count .ui-btn-up-c {
  text-shadow: none;
}

.ui-collapsible-heading {
  margin: 0;
}

.ui-li-desc {
  white-space: nowrap;
  font-size: 12px;
}

.ui-li-static.ui-li-has-count {
  padding-right: 70px;
}

.scanButton {
  max-width: 134px;
}

.cardcompany-image-container {
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  position: relative;
  z-index: 9;
  text-align: center;
  width: 100%;
  height: 120px;
}

.cardcompany-image-container.zoom {
  -webkit-transform: perspective(500) translateZ(180px);
  -webkit-transition: 0.5s;
}

.cardcompany-image-container.rotate {
  -webkit-transform: perspective(500) translateZ(180px) rotateY(180deg);
  -webkit-transition: 1.25s;
}

.cardcompany-image-container.rotateBack {
  -webkit-transform: perspective(500) rotateY(0deg);
  -webkit-transition: 1.25s;
}

.cardcompany-image {
  position: absolute;
  left:0;
  top:0;
  z-index: 11;
  margin-left: -2px;
  clear: none;
  /*border: 1px dotted green;*/
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.cardcompany-overlay {
  -webkit-backface-visibility: hidden;
  position: absolute;
  clear: none;
  left:0;
  top:0;
  text-align: center;
  width: 100%;
  margin-left: 2px;
  z-index: 10;
  -webkit-transform: rotateY(180deg);
  /*border: 1px dashed blue;*/
}

.cardcompany-overlay-no-animation {
  position: absolute;
  clear: none;
  left:0;
  top:0;
  text-align: center;
  width: 100%;
  margin-left: 2px;
  z-index: 12;
}

.cardcompany-buttons {
  position: absolute;
  clear: none;
  left:0;
  top:0;
  z-index: 17;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
}

.cardcompany-buttons-no-animation {
  position: absolute;
  clear: none;
  left:0;
  top:0;
  z-index: 17;
  width: 100%;
  -webkit-backface-visibility: visible;
  -webkit-transform: none;
}

.cardcompany-buttons-holder a {
  position: absolute;
  cursor: pointer;
  left: 50%;
  margin-left: 22px;
  height: 26px;
  width: 42px;
  /*border: 1px solid red;*/
}

.cardcompany-buttons-no-animation a {
  margin-left: 48px;
  height: 30px;
  width: 50px;
}

.cardcompany-buttons-no-animation .close {
  top:6px;
}

.cardcompany-buttons .scan {
  top:34px;
}

.cardcompany-buttons-no-animation .scan {
  top:56px;
}

.cardcompany-buttons .type {
  top:60px;
}

.cardcompany-buttons-no-animation .type {
  top:94px;
}

.cardcompany-overlay img {
  width: 134px;
}

.cardcompany-overlay-no-animation img {
  width: 200px;
}

@media (max-width:380px) {
  .cardcompany-image-container {
    -webkit-transform: perspective(500);
  }

  .cardcompany-image-container.zoom {
    -webkit-transform: perspective(500) translateZ(140px);
    -webkit-transition: 0.5s;
  }

  .cardcompany-image-container.rotate {
    -webkit-transform: perspective(500) translateZ(140px) rotateY(180deg);
    -webkit-transition: 1.25s;
  }

  .cardcompany-overlay-holder {
    margin-left: 2px;
  }

  .ui-block-a .cardcompany-buttons a {
    margin-left: 32px;
  }

  .ui-block-b .cardcompany-buttons a {
    margin-left: 18px;
  }

  .ui-block-a .cardcompany-buttons-no-animation a {
    margin-left: 74px;
  }

  .ui-block-b .cardcompany-buttons-no-animation a {
    margin-left: 10px;
  }

  /* move the enlarged cards a bit to the middle */
  .ui-block-a .cardcompany-overlay {
    left:-8px;
  }

  .ui-block-b .cardcompany-overlay {
    left:6px;
  }

  .ui-block-a .cardcompany-overlay-no-animation {
    left:28px;
  }

  .ui-block-b .cardcompany-overlay-no-animation {
    left:-36px;
  }

  .ui-block-a .cardcompany-image-container.zoom {
    -webkit-transform: perspective(500) translateX(20px) translateZ(180px);
  }

  .ui-block-a .cardcompany-image-container.rotate {
    -webkit-transform: perspective(500) translateX(14px) translateZ(180px) rotateY(180deg);
  }

  .ui-block-b .cardcompany-image-container.zoom {
    -webkit-transform: perspective(500) translateX(-24px) translateZ(180px);
  }

  .ui-block-b .cardcompany-image-container.rotate {
    -webkit-transform: perspective(500) translateX(-18px) translateZ(180px) rotateY(180deg);
  }

}

.ui-li-heading {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 4px;
}

.ui-li-static.ui-li {
  padding-bottom: 0;
}

.ui-li-static.ui-li-has-thumb {
  min-height: 68px;
  padding-left: 107px;
}

#mycardsList .ui-grid-a {
  background-color: #F0F0F0

}

#mycardsList .ui-block-a {
  width: 84%;
  padding-top: 12px;
  padding-left: 12px;
}

#mycardsList .ui-block-b {
  width: 16%;
}

#mycardsList li:last-child {
  border-bottom: 0;
}

.cents {
  color: #888;
  font-size: 0.7em;
}

#mycardsList .euro {
  width: 18px;
  color: #fff;
  background-color: #33991b;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 6px;
  text-shadow: none;
  clear: none;
  float: left;
}

#mycardsList p.cardnumber {
  color: #bbb;
  padding-right: 5px;
}

#cardNrEntry {
  -webkit-touch-callout:inherit; /* TODO test: this should allow pasting in the textfield */
}

#mycardsList .refresh, #mycardsList .remove {
  float: right;
  clear:both;
  margin-right: 5%;
  padding:10px;
  padding-right: 10px;
  width: 22px;
  height: 19px;
  text-align: center;
  border-left: 1px solid #ddd;
}

#mycardsList .refresh.spin {
  -webkit-transform: rotatez(1440deg);
  -webkit-transition: 8s;
}

#mycardsList .refresh {
  margin-top: -5px;
  border-bottom: 1px solid #ddd;
}

#allcardsList .ui-block-a, #allcardsList .ui-block-b {
  text-align: center;
  height: 160px;
  padding-top: 20px;
  margin-top: 10px;
}

#allcardsList .cardcompany-name {
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #777;
}

.ui-li-thumb {
  top: 10px;
  max-width: 96px;
  left: 5px;
}

.ui-btn-up-c {
  background-color: #fff;
}

.ui-li-static.ui-li {
  padding-top: 0;
  padding-right: 0;
}

.ui-dialog-contain h1 {
  font-size: 0.8em;
}

.ui-dialog-contain .hint {
  font-size: 0.7em;
}

.ui-header .ui-title {
  margin: 0.6em 20% 0.8em;
}

#barcodePopup {
  background-repeat: no-repeat;
  width: 292px;
  height: 185px;
  display: block;
}

#barcodePopup #barcodeImageContainer {
  text-align: center;
}

#barcodePopup #barcodeImage {
  background-color: #fff;
  padding: 8px;
  padding-bottom: 2px;
  margin-top: 108px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  opacity: 0.9;
}

#barcodePopup #barcodePopupAmount {
  position: absolute;
  float: right;
  clear: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  top: 20px;
  right: 20px;
  opacity: 0.85;
}

.zoomIconContainer {
  position: absolute;
  clear: none;
  top: 26px;
  left: 40px;
  opacity: 0.85;
}

.pointer {
  cursor: pointer;
}