<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="nl.x-services.kaartsaldo"
        version="1.5"
        versionCode="715"><!-- for Android.. normally not required, but we've removed the pgbuild config once which reset the versionCode-->

  <name>Kaartsaldo</name><!-- is also the name of the icon on the device -->

  <description>
    Mobile App voor uitlezen van saldo van kadokaarten
  </description>

  <author href="http://www.x-services.nl"
          email="eddy@x-services.nl">
    X-Services VOF
  </author>

  <!-- default icon -->
  <icon src="icon.png" />

  <!-- iOS icons -->
  <icon src="icons/ios/icon-57.png" width="57" height="57"/>
  <icon src="icons/ios/icon_at_2x.png" width="114" height="114"/>

  <icon src="icons/ios/icon-72.png" width="72" height="72"/>
  <icon src="icons/ios/icon-72_at_2x.png" width="144" height="144"/>

  <icon src="icons/ios/icon-76.png"    gap:platform="ios" width="76" height="76"/>
  <icon src="icons/ios/icon-76-2x.png" gap:platform="ios" width="152" height="152"/>

  <icon src="icons/ios/icon-120.png"   gap:platform="ios" width="120" height="120"/>

  <!-- Android icons -->
  <icon src="icons/android/ldpi.png"  gap:platform="android" gap:density="ldpi" width="36" height="36"/>
  <icon src="icons/android/mdpi.png"  gap:platform="android" gap:density="mdpi" width="48" height="48"/>
  <icon src="icons/android/hdpi.png"  gap:platform="android" gap:density="hdpi" width="72" height="72"/>
  <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" width="96" height="96"/>

  <!-- iPhone splash -->
  <gap:splash src="splash/ios/Default.png"         gap:platform="ios" width="320" height="480" />
  <gap:splash src="splash/ios/Default_at_2x.png"   gap:platform="ios" width="640" height="960" />
  <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />

  <!-- iPad splash -->
  <gap:splash src="splash/ios/Default-Portrait-ipad.png"  gap:platform="ios" width="768" height="1024" />
  <gap:splash src="splash/ios/Default-Landscape-ipad.png" gap:platform="ios" width="1024" height="768" />

  <!-- Android splash -->
  <gap:splash src="splash/android/Default-ldpi.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="splash/android/Default-mdpi.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="splash/android/Default-hdpi.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="splash/android/Default-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

  <gap:platform name="ios" />
  <gap:platform name="android" />

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="phonegap-version" value="2.9.0"/>
  <preference name="fullscreen" value="false" />
  <preference name="detect-data-types" value="false" />
  <preference name="orientation" value="default"/><!-- default(=all)/landscape/portrait-->
  <!--<preference name="target-device" value="handset"/>-->
  <preference name="DisallowOverscroll" value="false"/><!-- iOS rubber banding -->
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="android-minSdkVersion" value="8" />
  <preference name="android-targetSdkVersion" value="14" />
  <preference name="android-installLocation" value="auto" /><!-- preferExternal; preferably install on SD-card -->
  <preference name="ShowSplashScreenSpinner" value="true" />
  <preference name="stay-in-webview" value="false" />
  <preference name="prerendered-icon" value="true" /><!-- don't add iOS gloss effect -->
  <preference name="exit-on-suspend" value="true" />
  <preference name="AutoHideSplashScreen" value="false" /><!-- we're hiding it with js -->
  <preference name="FadeSplashScreen" value="true" />
  <preference name="BackupWebStorage" value="local" />
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
  <preference name="HideKeyboardFormAccessoryBar" value="true" />

  <gap:plugin name="com.phonegap.plugins.barcodescanner" />
  <gap:plugin name="com.adobe.plugins.gaplugin" />

  <!--reference name="splash-screen-duration" value="2000" /--> <!-- default 5000 -->

  <!-- allow loading any url in the webview -->
  <access origin="*" />

</widget>
